@import "./_Base.scss";

.filter {
  position: relative;
  margin-left: 2rem;

  &__select {
    min-width: 16rem;
    padding: 1rem 2.3rem;
    background-color: $background-color;
    border: $boder;
  }
  &__type {
    color: $text-color4;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.3rem;
    position: absolute;
    background-color: $background-color;
    // transform: translate(100%);
    left: 2.3rem;
    top: -0.5rem;
    z-index: 1;
  }
}
