@import "./_Base.scss";

.filter {
  position: relative;
  margin-left: 2rem;

  &__select {
    min-width: 16rem;
    padding: 1rem 2.3rem;
    background-color: $background-color;
    border: $boder;
  }
  &__type {
    color: $text-color4;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.3rem;
    position: absolute;
    background-color: $background-color;
    // transform: translate(100%);
    left: 2.3rem;
    top: -0.5rem;
    z-index: 1;
  }
}
.header {
  display: flex;
  margin-top: 8.7rem;
  justify-content: space-between;
}
.alert {
  font-style: normal;
  display: flex;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 2.2rem;
  padding: 2.2rem 0 1.3rem 0;
  margin: 8.5rem 0 6.3rem 0;
  min-width: 100%;
  color: $text-color3;
  justify-content: center;
  align-items: center;
  background-color: $alert-backgroud-color;
  &__icon {
    color: $alert-color;
    margin-right: 2.5rem;
  }
}
