@import "./_Base.scss";

.header {
  display: flex;
  margin-top: 8.7rem;
  justify-content: space-between;
  &__icon {
    display: none;
  }
  
}

@media screen and (max-width: 520px) {
  .header {
    flex-direction: column;
    &__icon {
      display: block;
    }
    &__sort {
      display: none
    }
    
    &__open {
      display: block;
    }
  }
}
