@import "./_Base.scss";

.page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &__previous &__next {
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.3rem;
    margin: 2.3rem;
  }
  &__currpage {
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 2.3rem;
    color: #3f3f3f;
    &__value {
      font-weight: 500;
      border: 0.1rem solid #3f3f3f;
      border-radius: 0.3rem;
      padding: 0 0.3rem;
    }
  }
}
