@import './_Base.scss';

.search {
    position: relative;
    width: 319px;
 
    &__input{
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        border: 0.5px solid #BDBDBD;
        box-sizing: border-box;
        border-radius: 2px;
        width: 319px;
        padding: 13px 32px;
        &::placeholder{
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 18px;
        }
    }
    &__icon{
        position: absolute;
        right: 15px;
        top: 14px;

    }
}