@import "./_Base.scss";

.search {
  position: relative;
  width: 31.9rem;

  &__input {
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 1.8rem;
    border: 0.05rem solid #bdbdbd;
    box-sizing: border-box;
    border-radius: 0.2rem;
    width: 31.9rem;
    padding: 1.3rem 3.2rem;
    &::placeholder {
      font-style: normal;
      font-weight: normal;
      font-size: 1.4rem;
      line-height: 1.8rem;
    }
  }
  &__icon {
    position: absolute;
    right: 1.5rem;
    top: 1.7rem;
  }
}
